<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p><%= t ".the " %><a href="http://www.railstutorial.org/"><em><%= t ".tutorial" %></em></a><%= t ".is_a" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a><%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".screencast" %></a><%= t ".to_teach" %>
  <a href="http://rubyonrails.org/"><%= t ".rubyonrails" %></a>.
  <%= t ".this_is" %>
</p>
