<% provide:title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t ".rails_tu" %></a>.
  <%= t ".to_get" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".tutorial" %></em>
  <%= t ".book">%</a>.
</p>
